<div class="container">

<% breadcrumb :post_edit %>
    
<h1>Edit the Article</h1>
<%= form_tag("/post/update/#{@post.id}") do %>
<div class="mb-3">
<input name="post" value="<%= @post.post %>" class="form-control">
</div>
</br>
<textarea name="description" class="form-control" rows=8><%= @post.description %></textarea>
</br>
  <% Category.all.each do |c| %>
  <input type="checkbox" name="category_ids[]" value="<%= c.id %>"><%= c.title %>
 <% end %></br>

  <input value="submit" type="submit" class="btn btn-info">
<% end %>

</div>


<h1>プログラミング言語</h1>

 

 
  <% Category.all.each do |c| %>
<%= check_box_tag :category_ids, c.id %>
<%= label_tag :sample1, c.title %>
 <% end %>